streamlit
pandas
seaborn
numpy
matplotlib
soccerplots
requests
scikit-learn
adjustText
openpyxl
plotly
wikipedia-api
requests
Pillow
beautifulsoup4
lxml
mplsoccer>=1.0.6
pandas
highlight_text
wikipedia
